html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

.tasks *::after {
  color: #a2928b;
  font-size: 18px;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}

.swal2-popup {
  background-color: #f9f7f6;
}

.swal2-styled.swal2-confirm {
  background-color: #a2928b !important;
  color: #f9f7f6 !important;
  user-select: none;
  width: 100px;
}

.swal2-styled.swal2-cancel {
  color: #f9f7f6 !important;
  user-select: none;
  width: 100px;
}

.swal2-input-label {
  padding-bottom: 8px;
}

.swal2-input[type='number'] {
  margin: 0 auto;
}

.swal2-input[type='number']::-webkit-outer-spin-button,
.swal2-input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swal2-title {
  text-transform: uppercase !important;
  user-select: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

body {
  font-family: 'Bitter', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #433c47;

  background-attachment: fixed;
  background-color: #f9f7f6;
  background-size: 50px 50px;
  background-image: linear-gradient(
      -45deg,
      transparent 52%,
      rgba(255, 255, 255, 0.9) 54%,
      transparent 55%,
      transparent
    ),
    linear-gradient(
      45deg,
      transparent 52%,
      rgba(255, 255, 255, 0.6) 54%,
      transparent 55%,
      transparent
    ),
    linear-gradient(
      -45deg,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 52%,
      transparent 53%,
      transparent
    ),
    linear-gradient(
      45deg,
      transparent 50%,
      rgba(0, 0, 0, 0.05) 52%,
      transparent 53%,
      transparent
    );
}

input {
  text-align: center;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.hat {
  width: 100%;
  border: 4mm ridge #a2928b;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px 0;
  font-weight: 700;
  user-select: none;
  background-color: #f9f7f6;
  font-size: 18px;
}

.pagination {
  text-align: center;
  max-width: 100vw;
  border-top: 1mm solid #a2928b;
  width: 100%;
  padding-top: 14px;
  display: flex;
  justify-content: center;
}

.pagination li {
  display: block;
  box-sizing: border-box;
}

.pagination a {
  display: inline-block;
  color: #433c47;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  border-bottom: 4px solid #2e832e;
}

.pagination a:hover:not(.active) {
  background-color: #cfcdcd;
}

.disabled-page a {
  opacity: 0.5;
  pointer-events: none;
}

.sort {
  width: 146px;
  text-align: left;
  margin: auto;
  padding: 4px 0;
  cursor: pointer;
}

.arrows {
  position: relative;
  cursor: pointer;
}

#stateInput {
  display: none;
}

#stateInput + .arrows:after {
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: -16px;
  border: 10px solid transparent;
  border-top: 10px solid #2e832e;
  border-width: 12px 7px;
  pointer-events: none;
}

#stateInput:checked + .arrows:after {
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: -16px;
  border: 10px solid transparent;
  border-top: 10px solid #a2928b;
  border-width: 12px 7px;
  pointer-events: none;
}

#stateInput + .arrows:before {
  pointer-events: none;
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: 12px;
  border: 10px solid transparent;
  border-bottom: 10px solid #a2928b;
  border-width: 12px 7px;
}

#stateInput:checked + .arrows:before {
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: 12px;
  border: 10px solid transparent;
  border-bottom: 10px solid green;
  border-width: 12px 7px;
}

.inputsW80 input {
  width: 80px;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  width: 100%;
  border: 4mm ridge #a2928b;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px 30px;
  font-weight: 700;
  user-select: none;
  background-color: #f9f7f6;
  display: none;
}

.task span {
  font-size: 18px;
}

.task p {
  user-select: text;
  text-align: left;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: #433c47;
  padding-left: 10px;
  border-left: 8px solid #a2928b;
}

.task1-inputs input {
  width: 60px;
}

.task-btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #a2928b;
  border-radius: 8px;
  font-family: 'Bitter', sans-serif;
  color: #a2928b;
  transition: 0.2s ease-in-out;
  background: none;
}

.task-btn:before {
  content: '';
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}

.task-btn:hover {
  background: #a2928b;
  color: #f9f7f6;
}

.task-btn:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

.task1-inputMin,
.task1-inputMax {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

.task1-inputMin::after {
  content: 'MIN';
}

.task1-inputMax::after {
  content: 'MAX';
}

.arrowsNotNeeded input::-webkit-outer-spin-button,
.arrowsNotNeeded input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.task5-1-output,
.task5-2-output {
  color: #a2928b;
  padding-top: 10px;
  font-size: 20px;
  user-select: all;
}

.input-announce {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

.task6-inputA::after {
  content: 'A';
}

.task6-inputB::after {
  content: 'B';
}

.task6-inputC::after {
  content: 'C';
}

.task8-inputA::after {
  content: 'A';
}

.task8-inputB::after {
  content: 'B';
}

.task9-inputX1::after {
  content: 'X1';
}

.task9-inputY1::after {
  content: 'Y1';
}

.task9-inputX2::after {
  content: 'X2';
}

.task9-inputY2::after {
  content: 'Y2';
}

.task11-inputA::after {
  content: 'A';
}

.task11-inputB::after {
  content: 'B';
}
