html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

body {
  font-family: 'Bitter', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #e1c7c7;
  color: #383838;
}

input {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.task {
  max-width: 720px;
  border: 4mm ridge #ffa5ec;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px 30px;
  font-weight: 700;
  user-select: none;
}

.task p {
  user-select: text;
  text-align: left;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: rgb(61, 80, 26);
}

.task1-inputs input {
  width: 60px;
}

.task-btn {
  display: block;
  margin: 10px auto;
  color: #000000;
  background-color: #ebc3ff;
  border-radius: 10%;
  user-select: none;
  font-family: 'Bitter', sans-serif;
  font-weight: 400;
  border: 2px solid #cc58b3a2;
}

.task-btn:hover {
  color: rgb(40, 110, 71);
  background-color: #e6b9ff;
  box-shadow: inset 0 0 0 3px #ffa5eb85;
}

.task5 + input::-webkit-outer-spin-button,
.task5 + input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
